.socialCard{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.socialCard_Image{
    /* border: 1px solid indigo; */
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.socialCard_Image > img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.socialCard_Buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.socialCard_Buttons > button{
    border: none;
    outline: none;
    width: 20%;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    margin: 0 5px;
}